<a href="https://colab.research.google.com/github/yogeshwaranbharathi/World-Happiness-ETL-Project-Assignment/blob/main/WorldHappinessETL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

**`Extract: import world happiness csv files`**

In [ ]:
file = "2015.csv"
df2015 = pd.read_csv(file)
df2015.head()

       Country          Region  Happiness Rank  Happiness Score  Standard Error  Economy (GDP per Capita)   Family  Health (Life Expectancy)  Freedom  Trust (Government Corruption)  Generosity  Dystopia Residual
0  Switzerland  Western Europe               1            7.587         0.03411                   1.39651  1.34951                   0.94143  0.66557                        0.41978     0.29678            2.51738
1      Iceland  Western Europe               2            7.561         0.04884                   1.30232  1.40223                   0.94784  0.62877                        0.14145     0.43630            2.70201
2      Denmark  Western Europe               3            7.527         0.03328                   1.32548  1.36058                   0.87464  0.64938                        0.48357     0.34139            2.49204
3       Norway  Western Europe               4            7.522         0.03880                   1.45900  1.33095                   0.88521  0.66973                        0.36503     0.34699            2.46531
4       Canada   North America               5            7.427         0.03553                   1.32629  1.32261                   0.90563  0.63297                        0.32957     0.45811            2.45176

In [ ]:
file = "2020.csv"
df2020 = pd.read_csv(file)
df2020.head()

  Country name Regional indicator  Ladder score  Standard error of ladder score  upperwhisker  lowerwhisker  Logged GDP per capita  Social support  Healthy life expectancy  Freedom to make life choices  Generosity  Perceptions of corruption  Ladder score in Dystopia  Explained by: Log GDP per capita  Explained by: Social support  Explained by: Healthy life expectancy  Explained by: Freedom to make life choices  Explained by: Generosity  Explained by: Perceptions of corruption  Dystopia + residual
0      Finland     Western Europe        7.8087                        0.031156      7.869766      7.747634              10.639267        0.954330                71.900825                      0.949172   -0.059482                   0.195445                  1.972317                          1.285190                      1.499526                               0.961271                                    0.662317                  0.159670                                 0.477857             2.762835
1      Denmark     Western Europe        7.6456                        0.033492      7.711245      7.579955              10.774001        0.955991                72.402504                      0.951444    0.066202                   0.168489                  1.972317                          1.326949                      1.503449                               0.979333                                    0.665040                  0.242793                                 0.495260             2.432741
2  Switzerland     Western Europe        7.5599                        0.035014      7.628528      7.491272              10.979933        0.942847                74.102448                      0.921337    0.105911                   0.303728                  1.972317                          1.390774                      1.472403                               1.040533                                    0.628954                  0.269056                                 0.407946             2.350267
3      Iceland     Western Europe        7.5045                        0.059616      7.621347      7.387653              10.772559        0.974670                73.000000                      0.948892    0.246944                   0.711710                  1.972317                          1.326502                      1.547567                               1.000843                                    0.661981                  0.362330                                 0.144541             2.460688
4       Norway     Western Europe        7.4880                        0.034837      7.556281      7.419719              11.087804        0.952487                73.200783                      0.955750    0.134533                   0.263218                  1.972317                          1.424207                      1.495173                               1.008072                                    0.670201                  0.287985                                 0.434101             2.168266

**Transform: drop columns, rename columns, round decimals**

In [ ]:
df2015.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score', 'Standard Error', 'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)', 'Generosity', 'Dystopia Residual'], dtype='object')

In [ ]:
df2020.columns

Index(['Country name', 'Regional indicator', 'Ladder score', 'Standard error of ladder score', 'upperwhisker', 'lowerwhisker', 'Logged GDP per capita', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 'Generosity', 'Perceptions of corruption', 'Ladder score in Dystopia', 'Explained by: Log GDP per capita', 'Explained by: Social support', 'Explained by: Healthy life expectancy', 'Explained by: Freedom to make life choices', 'Explained by: Generosity', 'Explained by: Perceptions of corruption', 'Dystopia + residual'], dtype='object')

In [ ]:
# drop unwanted columns from 2015 df

drop2015 =df2015.drop(columns =['Region','Standard Error', 'Economy (GDP per Capita)', 'Family','Freedom', 'Dystopia Residual'])
drop2015.head()

       Country  Happiness Rank  Happiness Score  Health (Life Expectancy)  Trust (Government Corruption)  Generosity
0  Switzerland               1            7.587                   0.94143                        0.41978     0.29678
1      Iceland               2            7.561                   0.94784                        0.14145     0.43630
2      Denmark               3            7.527                   0.87464                        0.48357     0.34139
3       Norway               4            7.522                   0.88521                        0.36503     0.34699
4       Canada               5            7.427                   0.90563                        0.32957     0.45811

In [ ]:
#drop unwanted columns from 2020 df

drop2020 = df2020.drop(columns = ['Regional indicator', 
       'Standard error of ladder score', 'upperwhisker', 'lowerwhisker',
       'Logged GDP per capita', 'Social support', 
       'Freedom to make life choices',
       'Ladder score in Dystopia',
       'Explained by: Log GDP per capita', 'Explained by: Social support',
       'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Dystopia + residual'])
drop2020.head()

  Country name  Ladder score  Healthy life expectancy  Generosity  Perceptions of corruption
0      Finland        7.8087                71.900825   -0.059482                   0.195445
1      Denmark        7.6456                72.402504    0.066202                   0.168489
2  Switzerland        7.5599                74.102448    0.105911                   0.303728
3      Iceland        7.5045                73.000000    0.246944                   0.711710
4       Norway        7.4880                73.200783    0.134533                   0.263218

In [ ]:
# rename columns in 2015 dropped df

drop2015_transformed = drop2015.rename(columns={"Country": "country", 
                                                      "Happiness Rank": "happiness_rank_2015", 
                                                      "Happiness Score": "happiness_score_2015",
                                                          "Health (Life Expectancy)": "life_expectancy_2015",
                                                          "Generosity": "generosity_2015", "Trust (Government Corruption)": "trust_2015"})


drop2015_order = drop2015_transformed[["country", "happiness_rank_2015", "happiness_score_2015", "life_expectancy_2015", "generosity_2015", "trust_2015"]]
drop2015_order.head()

       country  happiness_rank_2015  happiness_score_2015  life_expectancy_2015  generosity_2015  trust_2015
0  Switzerland                    1                 7.587               0.94143          0.29678     0.41978
1      Iceland                    2                 7.561               0.94784          0.43630     0.14145
2      Denmark                    3                 7.527               0.87464          0.34139     0.48357
3       Norway                    4                 7.522               0.88521          0.34699     0.36503
4       Canada                    5                 7.427               0.90563          0.45811     0.32957

In [ ]:
# rename columns in 2020 dropped df

drop2020_transformed = drop2020.rename(columns={"Country name": "country", 
                                                      "Ladder score": "happiness_score_2020",
                                                        "Healthy life expectancy": "life_expectancy_2020",
                                                          "Generosity": "generosity_2020",
                                                          "Perceptions of corruption": "trust_2020"})
drop2020_transformed.head()

       country  happiness_score_2020  life_expectancy_2020  generosity_2020  trust_2020
0      Finland                7.8087             71.900825        -0.059482    0.195445
1      Denmark                7.6456             72.402504         0.066202    0.168489
2  Switzerland                7.5599             74.102448         0.105911    0.303728
3      Iceland                7.5045             73.000000         0.246944    0.711710
4       Norway                7.4880             73.200783         0.134533    0.263218

Rounded Numerical values to (2) decimal places

In [ ]:
# round all numerical columns to two decimal points to clean up output 

def rounding(x):
    return round(x,2)

In [ ]:
# Rounded Numerical values to (2) decimal places 2015


drop2015_round = drop2015_order
drop2015_round[["happiness_score_2015", "life_expectancy_2015", "generosity_2015", "trust_2015"]] = drop2015_round[["happiness_score_2015", "life_expectancy_2015", "generosity_2015", "trust_2015"]].apply(rounding)
drop2015_round.head()

       country  happiness_rank_2015  happiness_score_2015  life_expectancy_2015  generosity_2015  trust_2015
0  Switzerland                    1                  7.59                  0.94             0.30        0.42
1      Iceland                    2                  7.56                  0.95             0.44        0.14
2      Denmark                    3                  7.53                  0.87             0.34        0.48
3       Norway                    4                  7.52                  0.89             0.35        0.37
4       Canada                    5                  7.43                  0.91             0.46        0.33

In [ ]:
#Rounded Numerical values to (2) decimal places 2020

drop2020_round = drop2020_transformed
drop2020_round[["happiness_score_2020", "life_expectancy_2020", "generosity_2020", "trust_2020"]] = drop2020_round[["happiness_score_2020", "life_expectancy_2020", "generosity_2020", "trust_2020"]].apply(rounding)
drop2020_round.head()

       country  happiness_score_2020  life_expectancy_2020  generosity_2020  trust_2020
0      Finland                  7.81                  71.9            -0.06        0.20
1      Denmark                  7.65                  72.4             0.07        0.17
2  Switzerland                  7.56                  74.1             0.11        0.30
3      Iceland                  7.50                  73.0             0.25        0.71
4       Norway                  7.49                  73.2             0.13        0.26

**Merged data frames based on country**

In [ ]:
merge_df = pd.merge(drop2015_ordered, drop2020_transformed, on="country", how="outer")
merge_df.head(158)

                      country  happiness_rank_2015  happiness_score_2015  life_expectancy_2015  generosity_2015  trust_2015  happiness_score_2020  life_expectancy_2020  generosity_2020  trust_2020
0                 Switzerland                  1.0                 7.587               0.94143          0.29678     0.41978                  7.56                 74.10             0.11        0.30
1                     Iceland                  2.0                 7.561               0.94784          0.43630     0.14145                  7.50                 73.00             0.25        0.71
2                     Denmark                  3.0                 7.527               0.87464          0.34139     0.48357                  7.65                 72.40             0.07        0.17
3                      Norway                  4.0                 7.522               0.88521          0.34699     0.36503                  7.49                 73.20             0.13        0.26
4                      Canada                  5.0                 7.427               0.90563          0.45811     0.32957                  7.23                 73.60             0.12        0.39
5                     Finland                  6.0                 7.406               0.88911          0.23351     0.41372                  7.81                 71.90            -0.06        0.20
6                 Netherlands                  7.0                 7.378               0.89284          0.47610     0.31814                  7.45                 72.30             0.21        0.36
7                      Sweden                  8.0                 7.364               0.91087          0.36262     0.43844                  7.35                 72.60             0.11        0.25
8                 New Zealand                  9.0                 7.286               0.90837          0.47501     0.42922                  7.30                 73.20             0.19        0.22
9                   Australia                 10.0                 7.284               0.93156          0.43562     0.35637                  7.22                 73.60             0.19        0.42
10                     Israel                 11.0                 7.278               0.91387          0.33172     0.07785                  7.13                 73.20             0.10        0.78
11                 Costa Rica                 12.0                 7.226               0.86027          0.25497     0.10583                  7.12                 71.30            -0.10        0.79
12                    Austria                 13.0                 7.200               0.89042          0.33088     0.18676                  7.29                 73.00             0.09        0.50
13                     Mexico                 14.0                 7.187               0.81444          0.14074     0.21312                  6.47                 68.30            -0.18        0.81
14              United States                 15.0                 7.119               0.86179          0.40105     0.15890                  6.94                 68.30             0.15        0.70
15                     Brazil                 16.0                 6.983               0.69702          0.14574     0.17521                  6.38                 66.48            -0.10        0.77
16                 Luxembourg                 17.0                 6.946               0.91894          0.28034     0.37798                  7.24                 72.60            -0.00        0.37
17                    Ireland                 18.0                 6.940               0.89533          0.45901     0.28703                  7.09                 72.30             0.15        0.36
18                    Belgium                 19.0                 6.937               0.89667          0.22250     0.22540                  6.86                 72.00            -0.08        0.61
19       United Arab Emirates                 20.0                 6.901               0.80925          0.26428     0.38583                  6.79                 67.08             0.12        0.59
20             United Kingdom                 21.0                 6.867               0.90943          0.51912     0.32067                  7.16                 72.30             0.26        0.44
21                       Oman                 22.0                 6.853               0.76276          0.21542     0.32524                   NaN                   NaN              NaN         NaN
22                  Venezuela                 23.0                 6.810               0.72052          0.05841     0.11069                  5.05                 66.51            -0.17        0.84
23                  Singapore                 24.0                 6.798               1.02525          0.31105     0.49210                  6.38                 76.80             0.03        0.11
24                     Panama                 25.0                 6.786               0.79661          0.24434     0.09270                  6.30                 69.60            -0.15        0.85
25                    Germany                 26.0                 6.750               0.89186          0.28214     0.21843                  7.08                 72.20             0.08        0.46
26                      Chile                 27.0                 6.670               0.85857          0.33363     0.12869                  6.23                 69.90            -0.07        0.84
27                      Qatar                 28.0                 6.611               0.79733          0.32573     0.52208                   NaN                   NaN              NaN         NaN
28                     France                 29.0                 6.575               0.94579          0.12332     0.20646                  6.66                 73.80            -0.13        0.58
29                  Argentina                 30.0                 6.574               0.78723          0.11451     0.08484                  5.97                 68.80            -0.19        0.84
30             Czech Republic                 31.0                 6.505               0.84483          0.10686     0.02652                  6.91                 70.05            -0.23        0.86
31                    Uruguay                 32.0                 6.485               0.81160          0.23240     0.24558                  6.44                 69.00            -0.10        0.64
32                   Colombia                 33.0                 6.477               0.69077          0.18401     0.05120                  6.16                 67.70            -0.16        0.86
33                   Thailand                 34.0                 6.455               0.73850          0.57630     0.03187                  6.00                 67.25             0.27        0.89
34               Saudi Arabia                 35.0                 6.411               0.72025          0.13706     0.32524                  6.41                 66.31            -0.17        0.68
35                      Spain                 36.0                 6.329               0.95562          0.18227     0.06398                  6.40                 74.40            -0.05        0.77
36                      Malta                 37.0                 6.302               0.88721          0.51752     0.13586                  6.77                 72.20             0.21        0.66
37                     Taiwan                 38.0                 6.298               0.87530          0.25376     0.08129                   NaN                   NaN              NaN         NaN
38                     Kuwait                 39.0                 6.295               0.72492          0.16228     0.25609                  6.10                 66.77            -0.10        0.76
39                   Suriname                 40.0                 6.269               0.60820          0.16991     0.13633                   NaN                   NaN              NaN         NaN
40        Trinidad and Tobago                 41.0                 6.168               0.61483          0.31844     0.01140                  6.19                 63.50             0.00        0.91
41                El Salvador                 42.0                 6.130               0.67737          0.10692     0.11776                  6.35                 66.11            -0.12        0.75
42                  Guatemala                 43.0                 6.123               0.64425          0.27489     0.09472                  6.40                 64.81            -0.04        0.78
43                 Uzbekistan                 44.0                 6.003               0.59772          0.22837     0.30826                  6.26                 65.11             0.25        0.50
44                   Slovakia                 45.0                 5.995               0.78902          0.16893     0.03431                  6.28                 68.91            -0.12        0.92
45                      Japan                 46.0                 5.987               0.99111          0.10705     0.18060                  5.87                 75.00            -0.25        0.65
46                South Korea                 47.0                 5.984               0.96538          0.18557     0.07857                  5.87                 73.60            -0.04        0.79
47                    Ecuador                 48.0                 5.975               0.79075          0.11541     0.18090                  5.93                 68.50            -0.13        0.80
48                    Bahrain                 49.0                 5.960               0.74716          0.17362     0.30600                  6.23                 68.50             0.13        0.74
49                      Italy                 50.0                 5.948               0.95446          0.22823     0.02901                  6.39                 73.60            -0.04        0.87
50                    Bolivia                 51.0                 5.890               0.53920          0.20536     0.08800                  5.75                 63.60            -0.09        0.82
51                    Moldova                 52.0                 5.889               0.61826          0.20951     0.01615                  5.61                 65.01            -0.04        0.91
52                   Paraguay                 53.0                 5.878               0.66098          0.34240     0.08242                  5.69                 65.64             0.01        0.83
53                 Kazakhstan                 54.0                 5.855               0.64368          0.11827     0.08454                  6.06                 64.61            -0.07        0.76
54                   Slovenia                 55.0                 5.848               0.87337          0.25328     0.03787                  6.36                 71.10            -0.08        0.82
55                  Lithuania                 56.0                 5.833               0.73128          0.02641     0.01031                  6.22                 67.29            -0.22        0.81
56                  Nicaragua                 57.0                 5.828               0.74314          0.27815     0.19317                  6.14                 67.51             0.02        0.67
57                       Peru                 58.0                 5.824               0.73017          0.14982     0.05989                  5.80                 68.10            -0.16        0.89
58                    Belarus                 59.0                 5.813               0.73608          0.11046     0.19090                  5.54                 66.10            -0.16        0.64
59                     Poland                 60.0                 5.791               0.77903          0.16759     0.04212                  6.19                 69.31            -0.21        0.69
60                   Malaysia                 61.0                 5.770               0.72394          0.33075     0.10501                  5.38                 67.10             0.11        0.84
61                    Croatia                 62.0                 5.759               0.78805          0.05444     0.02430                  5.50                 70.21            -0.13        0.92
62                      Libya                 63.0                 5.754               0.70380          0.18295     0.11023                  5.49                 62.30            -0.09        0.67
63                     Russia                 64.0                 5.716               0.66926          0.00199     0.03005                  5.55                 64.10            -0.15        0.86
64                    Jamaica                 65.0                 5.709               0.68741          0.21230     0.02299                  5.89                 67.10            -0.13        0.89
65               North Cyprus                 66.0                 5.695               0.92356          0.26169     0.14280                  5.54                 73.70             0.00        0.63
66                     Cyprus                 67.0                 5.689               0.92356          0.30638     0.06146                  6.16                 73.70             0.04        0.86
67                    Algeria                 68.0                 5.605               0.61766          0.07822     0.17383                  5.01                 65.91            -0.12        0.74
68                     Kosovo                 69.0                 5.589               0.63132          0.28310     0.04741                  6.33                 63.89             0.19        0.92
69               Turkmenistan                 70.0                 5.548               0.53886          0.16979     0.30844                  5.12                 62.21             0.19        0.88
70                  Mauritius                 71.0                 5.477               0.70950          0.37744     0.07521                  6.10                 66.40            -0.02        0.81
71                  Hong Kong                 72.0                 5.474               1.01328          0.39478     0.37124                   NaN                   NaN              NaN         NaN
72                    Estonia                 73.0                 5.429               0.77361          0.08680     0.15184                  6.02                 68.60            -0.11        0.62
73                  Indonesia                 74.0                 5.399               0.63793          0.51535     0.00000                  5.29                 62.16             0.52        0.88
74                    Vietnam                 75.0                 5.360               0.74676          0.16860     0.10441                  5.35                 67.95            -0.09        0.80
75                     Turkey                 76.0                 5.332               0.73172          0.12253     0.15746                  5.13                 66.90            -0.17        0.75
76                 Kyrgyzstan                 77.0                 5.286               0.65088          0.30030     0.04232                  5.54                 64.11             0.15        0.89
77                    Nigeria                 78.0                 5.268               0.16007          0.27233     0.04030                  4.72                 49.86             0.03        0.86
78                     Bhutan                 79.0                 5.253               0.57407          0.47998     0.15445                   NaN                   NaN              NaN         NaN
79                 Azerbaijan                 80.0                 5.212               0.64045          0.07799     0.16065                  5.16                 65.51            -0.24        0.55
80                   Pakistan                 81.0                 5.194               0.51466          0.33671     0.10464                  5.69                 58.25             0.04        0.75
81                     Jordan                 82.0                 5.192               0.69639          0.11053     0.14293                  4.63                 66.80            -0.16        0.70
82                 Montenegro                 82.0                 5.192               0.72521          0.16140     0.14296                  5.55                 68.51            -0.08        0.78
83                      China                 84.0                 5.140               0.81658          0.08185     0.02781                  5.12                 69.29            -0.18        0.75
84                     Zambia                 85.0                 5.129               0.29924          0.19591     0.12468                  3.76                 55.30             0.08        0.80
85                    Romania                 86.0                 5.124               0.76890          0.13748     0.00649                  6.12                 67.21            -0.20        0.93
86                     Serbia                 87.0                 5.123               0.74836          0.19231     0.02617                  5.78                 68.21            -0.07        0.84
87                   Portugal                 88.0                 5.102               0.87519          0.13719     0.01078                  5.91                 72.40            -0.22        0.89
88                     Latvia                 89.0                 5.098               0.72437          0.18226     0.06332                  5.95                 66.81            -0.19        0.80
89                Philippines                 90.0                 5.073               0.58114          0.24991     0.12279                  6.01                 61.93            -0.11        0.73
90          Somaliland region                 91.0                 5.057               0.43873          0.50318     0.39928                   NaN                   NaN              NaN         NaN
91                    Morocco                 92.0                 5.013               0.60954          0.07172     0.08546                  5.09                 65.90            -0.24        0.82
92                  Macedonia                 93.0                 5.007               0.73545          0.22359     0.05327                  5.16                 67.50            -0.02        0.90
93                 Mozambique                 94.0                 4.971               0.09131          0.22269     0.15603                  4.62                 54.21             0.03        0.68
94                    Albania                 95.0                 4.959               0.81325          0.14272     0.06413                  4.88                 68.71            -0.04        0.90
95     Bosnia and Herzegovina                 96.0                 4.949               0.79081          0.24808     0.00227                  5.67                 67.81             0.10        0.93
96                    Lesotho                 97.0                 4.898               0.07612          0.16388     0.12504                  3.65                 48.00            -0.15        0.86
97         Dominican Republic                 98.0                 4.885               0.66825          0.21684     0.14234                  5.69                 65.81            -0.13        0.76
98                       Laos                 99.0                 4.876               0.54909          0.42192     0.24249                  4.89                 58.71             0.11        0.63
99                   Mongolia                100.0                 4.874               0.60268          0.33230     0.02666                  5.46                 62.30             0.10        0.86